.Modal {
  width: 70vw;
  height: 50vh;
}

.Title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.closeIcon:hover {
  cursor: pointer;
}

.ModalContentContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.ModalDataContainer {
  display: flex;
  flex-direction: column;
  margin: 4em 0em 0em 0em;
}

.ModalEntryContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.ModalImage{
  width: 200px;
  height: 200px;
  border: 2px solid black;
}

.ModalLabelContainer{
  display: flex;
  flex-direction: row;
  margin: 0em 1em 0em 1em;
}

.ContentHeader{
  text-align: center;
  margin-bottom: 1em;
}

.entryContainer {
  word-break: break-all;
  margin: 0em 2em 1em 2em;
  padding: 10px;
}

.ModalContentHeaderContainer {
  display: flex;
  justify-content: center;
}
